<div>
  <p>
    From:
    <% if @user %>
      <%= @user.first_name %> <%= @user.last_name %>, id: <%= @user.id %>
    <% else %>
      -not defined-
    <% end %>
  </p>
  Email text:
  <pre><%= @body %></pre>
</div>
