<%= render 'form', submit_name: 'Внести изменения' %>

<table>
  <tr>
    <td><%= button_to 'Вернуться', test_path(@question.test), method: :get %></td>
    <td><%= button_to "Просмотреть", question_path(@question), method: :get %></td>
    <td><%= button_to "Удалить", question_path(@question), method: :delete, data: { confirm: 'Вы уверены?'}, style: "color: red" %></td>
  </tr>
</table>
