<div class="row" align="center">
  <div class="col-md-12 mb-3" align="center">
    <%= t('.all_achieved_badges') %>
  </div>
</div>
<div>
  <%= render 'badge_achievement', badge_achievements: @badge_achievements %>
</div>
