<div align="center">
  <div class="table-medium-style">
    <div class="table-row-style">
      <div class="table-flexible-column-style">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
