<div align="center">
  <div class="table-medium-style">
    <div class="table-row-style">
      <div class="table-flexible-column-style">
        <h1><%= t('.header', title: @test_passage.test.title) %></h1>
      </div>
    </div>
    <div class="table-row-style">
      <div class="table-flexible-column-style">
        <div style="text-align: center;">
          <% if @test_passage.success? %>
            <h3 style="background-color: lime;">
              <%= t('.success', complete_percent: @test_passage.complete_percent) %>
            </h3>
          <% else %>
            <h3 style="background-color: orange;">
              <%= t('.failure', complete_percent: @test_passage.complete_percent) %>
            </h3>
          <% end %>
        </div>
      </div>
    </div>
    <div class="table-row-style">
      <div class="table-flexible-column-style">
        <p><%= button_to t('.back'), tests_path, method: :get, params: { lang: params[:lang] } %></p>
      </div>
    </div>
  </div>
</div>
