<% if instance.errors.present? %>
  <div style="color: red">
    <h3>Ошибк<%= instance.errors.count > 1 ? "и (#{instance.errors.count })" : 'а'  %>:</h3>
    <% instance.errors.full_messages.each do |message| %>
      <p>- <%= message %></p>
    <% end %>
  </div>
<% end %>
