<div align="center">
  <div class="table-large-style">
    <div class="table-row-style">
      <div class="table-flexible-column-style">
        <%= answer.body %>
      </div>
      <div class="table-constant-actions-column-style" align="center">
        <table>
          <tr>
            <td><%= button_to "Просмотреть", answer_path(answer), method: :get %></td>
            <td><%= button_to 'Редактировать', edit_answer_path(answer), method: :get %></td>
            <td><%= button_to "Удалить", answer_path(answer), method: :delete, data: { confirm: 'Вы уверены?'}, style: "color: red" %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

