<div align="center">
  <div class="table-large-style">
    <div class="table-row-style">
      <%= render 'form' %>
      <div class="table-constant-actions-column-style" align="center">
        <%= button_to t('.back'), admin_question_path(@answer.question), method: :get, params: { lang: params[:lang] } %>
      </div>
    </div>
  </div>
</div>
