<div align="center">
  <div class="table-large-style">
    <div class="table-row-style">
      <div class="table-flexible-column-style">
        <h2>Просмотреть ответ для вопроса:</h2>
        <span style="border: 1px solid lightgray; padding: 5px;">
          <%= @answer.question.body %>
        </span>

        <h2>Ответ:</h2>
        <span style="border: 1px solid lightgray; padding: 5px;">
          <%= @answer.body %>
        </span>

        <br><br><br>
        <% if @answer.correct %>
          <span style="border: 2px solid lime;">Это верный ответ</span>
        <% else %>
          <span style="border: 2px solid red;">Это неверный ответ</span>
        <% end %>

      </div>
      <div class="table-constant-actions-column-style" align="center">
        <%= button_to 'Вернуться к вопросу', admin_question_path(@answer.question), method: :get %>
      </div>
    </div>
  </div>
</div>
