  <div class="table-large-style">
    <div class="table-row-style">
      <div class="table-flexible-column-style"><%= question.body %></div>
      <div class="table-constant-actions-column-style" align="center">
        <table>
          <tr>
            <td><%= button_to "Просмотреть", admin_question_path(question), method: :get %></td>
            <td><%= button_to 'Редактировать', edit_admin_question_path(question), method: :get %></td>
            <td><%= button_to "Удалить", admin_question_path(question), method: :delete, data: { confirm: 'Вы уверены?'}, style: "color: red" %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
