<div align="center">
  <div class="table-large-style">
    <div class="table-row-style">
      <div class="table-flexible-column-style">
        <%= render 'form' %>
      </div>
      <div class="table-constant-actions-column-style" align="center">
        <p><%= button_to t('.back'), admin_test_path(@question.test), method: :get, params: { lang: params[:lang] } %></p><hr>
        <p><%= button_to t('.watch'), admin_question_path(@question), method: :get, params: { lang: params[:lang] } %></p><hr>
        <p><%= button_to t('.delete'), admin_question_path(@question), method: :delete, data: { confirm: t('.delete_confirmation')}, style: "color: red" %></p>
      </div>
    </div>
  </div>
</div>
