<div class="row table-border">
  <div class="col-md-8 table-border">
    <%= render 'form' %>
  </div>
  <div class="col-md-4 table-border">
    <%= link_to t('.back'), admin_test_path(@question.test), method: :get %>
  </div>
</div>
