<div class="row justify-content-center">
  <div class="col-lg-6 table-border">
    <% if @send %>
      <%= t('.mail_sended') %>
    <% else %>
      <%= t('.mail_is_not_sended') %>
    <% end %>
  </div>
</div>
