/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.TableStyle {
  display: table;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
  max-width: 1200px;
}
.TableRowStyle {
  display: table-row;
}
.TableFlexibleColumnStyle {
  display: table-cell;
  border: 1px solid LightGray;
  padding: 5px;
  width: 1200px;
}
.TableConstantFirstColumnStyle {
  display: table-cell;
  border: 1px solid LightGray;
  padding: 5px;
  min-width: 290px;
  max-width: 290px;
}
.TableConstantSecondColumnStyle {
  display: table-cell;
  border: 1px solid LightGray;
  padding: 5px;
  min-width: 80px;
  max-width: 80px;
}