.table-large-style, .table-medium-style {
  display: table;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
}
.table-large-style {
  max-width: 1200px;
  min-width: 850px;
}
.table-medium-style {
  max-width: 800px;
  min-width: 600px;
}
.table-row-style {
  display: table-row;
}
.table-flexible-column-style {
  display: table-cell;
  vertical-align: middle;
  border: 1px solid lightgray;
  padding: 5px;
  width: 1200px;  
}
.table-constant-tests-column-style {
  display: table-cell;
  vertical-align: middle;
  border: 1px solid lightgray;
  padding: 5px;
  min-width: 80px;
  max-width: 80px;
}
.table-constant-actions-column-style {
  display: table-cell;
  vertical-align: middle;
  border: 1px solid lightgray;
  padding: 5px;
  min-width: 290px;
  max-width: 290px;
}
