<div class="row table-border">
  <div class="col-md-8 table-border">
    <%= render 'form' %>
  </div>
  <div class="col-md-4 table-border">
    <div><%= link_to t('.back'), admin_tests_path, method: :get %></div>
    <div><%= link_to t('.watch'), admin_test_path(@test), method: :get %></div>
    <div><%= link_to t('.delete'), admin_test_path(@test), method: :delete, data: { confirm: t('.delete_confirmation')}, style: "color: red" %></div>
  </div>
</div>
