<div align="center">
  <div class="table-large-style">
    <div class="table-row-style">
      <div class="table-flexible-column-style">
        <%= render 'form' %>
      </div>
      <div class="table-constant-actions-column-style" align="center">
        <%= button_to t('.back'), admin_tests_path, method: :get, params: { lang: params[:lang] } %>
      </div>
    </div>
  </div>
</div>
