<div class="row justify-content-center">
  <div class="col-lg-10 table-border">
    <%= render 'shared/errors', instance: @test %>
    <%= link_to t('.back'), admin_test_path(@test) %>
  </div>
</div>
