  <div class="TableStyle">
    <div class="TableRowStyle">
      <div class="TableFlexibleColumnStyle"><%= test.title %></div>
      <div class="TableConstantSecondColumnStyle" align="center">
        <%= test.questions.count %>
      </div>
    </div>
  </div>
  