  <div class="table-large-style">
    <div class="table-row-style">
      <div class="table-flexible-column-style"><%= test.title %></div>
      <div class="table-constant-tests-column-style" align="center">
        <%= test.questions.count %>
      </div>
      <div class="table-constant-tests-column-style" align="center">
        <table>
          <tr>
            <td><%= button_to 'Начать', start_test_path(test), method: :post %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
