<%= render 'form', submit_name: 'Внести изменения' %>

<table>
  <tr>
    <td><%= button_to 'Вернуться к списку тестов', tests_path, method: :get %></td>
    <td><%= button_to "Просмотреть", test_path(@test), method: :get %></td>
    <td><%= button_to "Удалить", test_path(@test), method: :delete, data: { confirm: 'Вы уверены? Это действие безвозвратно удалит весь тест!'}, style: "color: red" %></td>
  </tr>
</table>
