<div align="center">
  <div class="TableStyle">
    <div class="TableRowStyle">
      <div class="TableFlexibleColumnStyle"align="center">Тест</div>
      <div class="TableConstantSecondColumnStyle" align="center">Вопросов</div>
    </div>
  </div>
  <%= render @tests %>
</div>
