<div align="center">
  <div class="table-large-style">
    <div class="table-row-style">
      <div class="table-flexible-column-style">
        <h2>
          <ul style="list-style-type: none;">
            <li>Список всех тестов</li>
          </ul>
        </h2>
      </div>
      <div class="table-constant-actions-column-style" align="center">
        <%= button_to "Создать новый тест", new_test_path(@test), method: :get %>
      </div>
    </div>
  </div>
  <div class="table-large-style">
    <div class="table-row-style">
      <div class="table-flexible-column-style"align="center">Название</div>
      <div class="table-constant-tests-column-style" align="center">Вопросов</div>
      <div class="table-constant-tests-column-style" align="center">Тест</div>
      <div class="table-constant-actions-column-style" align="center">Действия автора</div>
    </div>
  </div>
  <%= render @tests %>
</div>
