<div align="center">
  <div class="table-large-style">
    <div class="table-row-style">
      <div class="table-flexible-column-style">
        <%= render 'form', submit_name: 'Создать' %>
      </div>
      <div class="table-constant-actions-column-style" align="center">
        <%= button_to 'Вернуться к списку тестов', tests_path, method: :get %>
      </div>
    </div>
  </div>
</div>
